/* #region GENERAL */
.ms-img-container-sm {
    width: 100%;
    max-width: 230px;
}

.ms-img-container-lg {
    width: 100%;
    max-width: 400px;
}

/* #endregion GENERAL */
/* #region COLORS */
.ms-bg-dark-blue {
    background-color: #2C3F50;
}

.ms-bg-secondary-blue {
    background-color: #3B546D;
}

.ms-bg-green {
    background-color: #1ABC9C;
}

/* #endregion COLORS */