/* #region GENERAL */
:root {
    --ms-green: #1ABC9C;
    --ms-blue: #2C3F50;
    --ms-secondary-blue: #3B546D;
}

.ms-img-container-sm {
    width: 100%;
    max-width: 230px;
}

.ms-img-container-lg {
    width: 100%;
    max-width: 400px;
}

/* #endregion GENERAL */
/* #region COLORS */
.ms-bg-dark-blue {
    background-color: var(--ms-blue);
}

.ms-bg-secondary-blue {
    background-color: var(--ms-secondary-blue);
}

.ms-bg-green {
    background-color: var(--ms-green);
}

/* #endregion COLORS */
/* #region CUSTOM */

/* star  */
.star {
    position: relative;
    display: inline-block;
    font-size: 1.4rem;
}

.star::before {
    content: "";
    position: absolute;
    width: 40%;
    max-width: 10.625rem;
    top: .875rem;
    left: -0.375rem;
    border: .0625rem solid;
    border-radius: .25rem;
}

.star::after {
    content: "";
    position: absolute;
    width: 40%;
    max-width: 10.625rem;
    top: .875rem;
    right: -0.375rem;
    border: .0625rem solid;
    border-radius: .25rem;
}

/* /star  */

/* form  */

.form-control:focus {
    box-shadow: none;
}

/* /form  */


/* social links  */
.social-link {
    width: 2.5rem;
    height: 2.5rem;
    border: 1px solid;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/* layer  */
.layer {
    background-color: #1ABC9C70;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
    opacity: 0;
}

.fa-plus {
    font-size: 3.125rem;
}

/* #endregion CUSTOM */
/* #region :hover */
header .nav-link:hover {
    color: var(--ms-green) !important;
}

.ms-img-container-lg:hover .layer {
    opacity: 1;
}

.social-link:hover {
    color: var(--ms-green);
    box-shadow: 2px 2px #1ABC9C70;
}

/* #endregion :hover */